<h2>WRITE A NEW QUOTE</h2>
<div class="container">
  <div class="row">

    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">
        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" rows="4" #quote="ngModel" required></textarea>

        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p> Input is Required</p>

        </div>

      </div>

      <div class="form-group">

        <label for="name">Author</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>


        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Input is Required</p>

        </div>
      </div>

      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required>
        <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-primary">
          <p> Input is Required</p>
        </div>
      </div>



      <div class="form-group">
        <label for="written">Date </label><br>
        <input type='date' id="written" [(ngModel)]="newQuote.writtenDate" name="writtenDate" #writtenDate="ngModel" required>
        <div [hidden]="writtenDate.valid || writtenDate.pristine" class="alert alert-danger">
          <p> Input is Required</p>

        </div>
      </div>
      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>
